/* Values for all Windows */
.windowTemplate {
    background-color: #1F2022;
}

/* Top Window bar */
.topWindowBar {
    display: flex;
    flex-direction: row-reverse;
}

/* Close Window button container */
.closeWindow {
    color: black;
    padding: 8px 4px;
    min-width: 160px;
    display: block;
}

/* Close Window button */
.closeWindowButton {
    color: black;
    padding: 8px 4px;
    min-width: 160px;
    text-decoration: none;
    text-align: center;
    display: block;
}