.black {
  background-color: black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: black;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.font-red {
  color: red;
}

.font-green {
  color: green;
}

.font-blue {
  color: blue;
}

.font-purple {
  color: purple;
}

.font-yellow {
  color: black;
}
